#time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    text-align: center;
}

#app {
    position: relative;
    margin: auto;
    max-width: 32rem;
    top: 10rem;
}

html, body {
    background-color: rgb(39, 39, 39);
    color:white;
}